    @font-face {
        font-family: "Philosopher-Regular";  
        src: url(fonts/Philosopher-Regular.ttf) format("truetype"); 
        font-style: normal; 
        font-weight: normal; 
    }
    @font-face {
        font-family: "Philosopher-Bold";  
        src: url(fonts/Philosopher-Bold.ttf) format("truetype"); 
        font-style: normal; 
        font-weight: normal; 
    }
    @font-face {
        font-family: "Roboto-Medium";  
        src: url(fonts/Roboto-Medium.ttf) format("truetype"); 
        font-style: normal; 
        font-weight: normal; 
    }
    @font-face {
        font-family: "Roboto-Regular";  
        src: url(fonts/Roboto-Regular.ttf) format("truetype"); 
        font-style: normal; 
        font-weight: normal; 
    }
    @font-face {
        font-family: "fontawesome-webfont";  
        src: url(fonts/fontawesome-webfont.ttf) format("truetype"); 
    }
    @font-face {
        font-family: "fa-regular";  
        src: url(fonts/fa-regular-400.ttf) format("truetype"); 
    }
    @font-face {
        font-family: "Roboto-Italic";  
        src: url(fonts/Roboto-Italic.ttf) format("truetype"); 
    }
        
    .header {
        background-color: #008DAA;
        height: 4rem;
        align-content: center;
        box-shadow: 4px 15px 10px 0px rgba(34, 60, 80, 0.2);
        -webkit-box-shadow: 4px 15px 10px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 15px 10px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 15px 10px 0px rgba(34, 60, 80, 0.2);
    }
    .reference {
        color: #d4d0c8;
        align-content: center;
        font-family: "Roboto-Regular"; 
    }
    .reference:hover {
        color: white;
        align-content: center;
        font-family: "Roboto-Regular"; 
    }
    .logo1 {
        width: 1.5rem;
        margin-left: 1.5rem;
        filter: alpha (Opacity=60);
        opacity: 0.6;
    }
    .logo1:hover {
        width: 1.5rem;
        margin-left: 1.5rem;
        filter: alpha (Opacity=100);
        opacity: 1;
        cursor: pointer;
    }
    .cont1 {
        background-color: #ddd9d2;
        vertical-align: middle;
    }
    .nav {
        font-size: small;
        font-family: "Roboto-Regular"; 
    }
    .nav-link {
        color: #149fbb;
    }
    .nav-link:hover {
        color: #eb477b;
        cursor: pointer;
    }
    ul {
        color: #06BAC5;
    }
    .nav-link {
        color: #06BAC5;
    }
    .d1 {
        width: 5px; 
        height: 5px;
        background: #06BAC5;
        border-radius: 50%;
        margin-top: 1rem;
    }
    .design {
        font-family: "Philosopher-Regular"; 
        color: #005c7d;
        padding-top: 3rem;
    }
    .text {
        text-align: center;
        font-family: "Philosopher-Regular"; 
    }
    .text1 {
        font-family: "Philosopher-Regular"; 
        color: #005c7d;
        margin-top: 1rem;
    }
    .text2 {
        margin-left: 6rem;
        margin-top: 5rem;
        color: #005c7d;
        font-family: "Roboto-Medium";
    }
    .btn-1 {
        display: block;
        margin-left: 14rem;
        margin-top: 3rem;
        color: white;
        background-color: #005c7d;
        padding: .3em 1em;
        border: none;
        border-radius: 100px;
        font-family: "Roboto-Regular";
    }
    .btn-1:hover {
        display: block;
        margin-left: 14rem;
        margin-top: 3rem;
        color: white;
        background-color: #eb477b;
        padding: .3em 1em;
        border: none;
        border-radius: 100px;
        font-family: "Roboto-Regular";
        cursor: pointer;
    }
    .cont2 {
        background-color: #EEEEED;
        vertical-align: middle;
    }
    .course {
        font-family: "Philosopher-Bold";
        text-align: center;
        color: #005c7d;
        margin-top: 3rem;
    }
    .text3 {
        margin-left: 3rem;
        margin-right: 3rem; 
        display: block;
        text-align: center;
        margin-top: 2rem;
        font-family: "Roboto-Regular";
        color: #005c7d;

    }
    .text4 {
        display: block;
        text-align: center;
        font-family: "Roboto-Regular";
        color: #005c7d;

    }
    .text5 {
        margin-left: 3rem;
        margin-right: 3rem; 
        display: block;
        text-align: center;
        margin-top: 1rem;
        font-family: "Roboto-Regular";
        color: #005c7d;
    }
    .card-img-top {
        width: 6rem;
    }
    .card1 {
        align-items: center;
        background-color: #EEEEED;
        border: none;
        margin-left: 2.5rem;
        padding-bottom: 6rem;
    }
    .card-body {
        padding: 0;
        margin: 0;
    }
    .card-title {
        margin-top: 1.2rem;
        font-family: "Philosopher-Regular";
        color: #005c7d;
    }
    .card-text {
        line-height: 1.5;
        font-size: small;
        color: #008DAA;
        font-family: "Roboto-Regular";  
    }
    .benefits {
        font-family: "Philosopher-Bold";
        text-align: center;
        color: #005c7d;
        margin-top: 3rem;
        padding-top: 4rem;
    }
    .list-group {
        margin-top: 1.5rem;
        margin-left: -1rem;
        margin-bottom: 6rem;

    }
    .list-group-item {
        background-color: #ddd9d2;
        border: none;
        color: #005c7d;
        font-family: "Roboto-Regular";
        font-size: 20px;
    }
    
    .bi .bi-check-circle {
        display: inline-block;
    }
    .btn-group {
        align-content: center;
        align-items: center;
        font-family: "Philosopher-Regular";
        color: #008DAA;
    }
    .dropdown {
        border-radius: none;
        align-content: center;
        align-items: center;
    }
    .btn {
        font-family: "Philosopher-Regular";
        color: #008DAA;
        align-content: center;
        align-items: center;
    }
    .dropdown-menu {
        background-color: #EEEEED;
        align-content: center;
        align-items: center;
        border: none;
    }
    .fas {
        margin-right: 1rem; 
    }
    .answer {
        font-family: "Roboto-Italic";  
        color: #005c7d;
        font-size: small;
    }
    .benefits1 {
        margin-top: 1rem;
        padding-top: 1rem;
        font-family: "Philosopher-Bold";
        text-align: center;
        color: #008DAA;

    }
    .benefits2 {
        margin-top: 1rem;
        font-family: "Philosopher-Bold";
        text-align: center;
        color: #005c7d;
        margin-bottom: 10rem;
    }
    .benefits2:hover {
        margin-top: 1rem;
        font-family: "Philosopher-Bold";
        text-align: center;
        color: #eb477b;
        cursor: pointer;
        margin-bottom: 7rem;
    }
    .fa-caret-down {
        color: #008DAA;
        font-size: 1.2rem;
    }
    .accordion-item {
        background-color: #EEEEED;
        border: none;
    }
    .accordion-item [aria-expanded="true"] .fa-accordion {
        transform: rotate(180deg);
    }
    .accordeon-text {
        font-family: "Philosopher-Bold";
        font-size: medium;
        text-align: center;
        color: #008DAA;
    }
    .carousel-text {
        font-family: "Roboto-Italic";  
        color: #005c7d;
        font-size: small;
        text-align: center;
    }
    .picture2 {
        max-width: 600px;
        width: 100%;
        display: block;
        margin: auto;
        text-align: center;
        align-items: center;
        align-content: center
        
    }
    .round {
        border-radius: 100px;
        border: none; 
        box-shadow: 0 0 7px #666;
        width: 100px;
    }
    .voroncova {
        display: block;
        text-align: center;
        margin-top: 1rem;
        font-family: "Philosopher-Regular";
        color: #008DAA;
    }
    .fa-chevron-circle-left {
        color: #d8d2c4;
        margin-bottom: 9rem;
        margin-left: -9rem;
        font-size: 2rem;
        border: 4px solid #b3aea3;
        border-radius: 50%;
        background-origin: content-box;
        background-color: #b3aea3;
    }
    .fa-chevron-circle-right {
        color: #d8d2c4;
        margin-bottom: 9rem;
        margin-right: -9rem;
        font-size: 2rem;
        border: 4px solid #b3aea3;
        border-radius: 50%;
        background-origin: content-box;
        background-color: #b3aea3;
    }
    .arrow1 {
        text-align: center;
        align-content: center;
    }
    .arrow {
        width: 9rem;
        margin-left: 0rem;
        margin-top: -1.3rem;
    }
    .left-arrow {
        font-family: "Roboto-Regular";
        color: #005c7d;
        font-weight: 600;
        font-size: 20px;
    }
    .right-arrow {
        font-size: 18px;
        color: #008DAA;
    }
    .right-arrow:hover {
        color: #eb477b;
        cursor: pointer;
    }
    .socials {
        display: block;
        font-family: "Roboto-Regular";
        color: #005c7d;
        font-weight: 600;
        font-size: 18px;
    }
    .list-inline {
        align-content: center;
        height: 6rem;
    }
    .list-inline-item {
        display: inline-block;
        height: 3rem;
        padding-top: 0rem;
    }
    .pic3 {
        display: inline-block;
        position: relative;
    }
    .logo3 {
        display: inline-block;
        background: url('img/vk-blue.png') no-repeat;
        background-size: 60px;
        padding: 1rem;
        margin: 1rem;
        width: 70px;
        height: 70px;
        border: none;
    }
    .logo3:hover {
        display: inline-block;
        width: 70px;
        height: 70px;
        background: url('img/vk-pink.png') no-repeat;
        background-size: 60px;
        border: none
    }
    .logo4 {
        display: inline-block;
        background: url('img/fb-blue.png') no-repeat;
        background-size: 60px;
        padding: 1rem;
        margin: 1rem;
        width: 70px;
        height: 70px;
        border: none;
    }
    .logo4:hover {
        display: inline-block;
        width: 70px;
        height: 70px;
        background: url('img/fb-pink.png') no-repeat;
        background-size: 60px;
        border: none
    }
    .logo5 {
        display: inline-block;
        background: url('img/inst-blue.png') no-repeat;
        background-size: 60px;
        padding: 1rem;
        margin: 1rem;
        width: 70px;
        height: 70px;
        border: none;
    }
    .logo5:hover {
        display: inline-block;
        width: 70px;
        height: 70px;
        background: url('img/inst-pink.png') no-repeat;
        background-size: 60px;
        border: none
    }
    .logo6 {
        display: inline-block;
        background: url('img/tw-blue.png') no-repeat;
        background-size: 60px;
        padding: 1rem;
        margin: 1rem;
        width: 70px;
        height: 70px;
        border: none;
    }
    .logo6:hover {
        display: inline-block;
        width: 70px;
        height: 70px;
        background: url('img/tw-pink.png') no-repeat;
        background-size: 60px;
        border: none
    }
    .cont3 {
        background-color: #005c7d;
        color: white;
        font-family: "Roboto-Regular";
        font-weight: 250;
        font-size: 1.1rem;
    }
    .copyright {
        display: inline-block;
        padding-top: 0.5rem;
    }
    .copyright1 {
        color: white;
        font-size: 0.9rem;
    }
    .copyright1:hover {
        color: #eb477b;
        font-size: 0.9rem;
    }